# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build

#.vscode/settings.*
.cache

**/libs/jpegsrc.v9e
!**/libs/libjpeg/lib/**/*.a

**/third_party/protobuf/*
!**/third_party/protobuf/package/